<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand">Charity Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/charities">List of Charities</a>
            </li>
        </ul>
        {{#if session.userId}}
            <form class="form-inline my-2 my-lg-0" onsubmit="event.preventDefault();usersLogout()">
                <button class="btn btn-outline-danger my-2 my-sm-0 px-3" type="submit">Logout</button>
            </form>
        {{else}}
            <form class="form-inline my-2 my-lg-0" onsubmit="event.preventDefault();">
                <button class="btn btn-outline-primary my-2 my-sm-0 px-3" type="button" data-toggle="modal" data-target="#loginModal">Login</button>
            </form>
        {{/if}}
    </div>
</nav>

{{>users-login-modal}}