<div class="card charitiesContainer">
{{#if session.userId}}
<div class="jumbotron">
    <h1 class="display-4" id="userLabel" user-id={{user._id}}>Hello {{user.firstName}}!</h1>
    <p class="lead">Make updates to your charities below or find new charities <a href='/charities'>here</a>.</p>
</div>
{{>charities-table}}
{{else}}
<div class="jumbotron">
  <h1 class="display-4">Get Started Today!</h1>
  <p class="lead">A simple tool to track the charities you donate to.</p>
  <hr class="my-4">
  <p>Create an Account Now</p>
  <a class="btn btn-primary btn-lg" href="/users/register" role="button">Register</a>
</div>
{{/if}}
</div>