<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color:white; margin-bottom:0;">
      <hr />
    <li class="breadcrumb-item active">Charities</a></li>
  </ol>
</nav>
<div class="card charitiesContainer">

    {{#unless charities}}
    <div class="jumbotron">
        <p class="lead" style="text-align:center;">Oops! We are having trouble retreiving the data.</p>
        </div>
    {{/unless}}
    
{{#each charities}}
{{#if this.listImageURL}}
{{#if this.listAbstract}}
<div class="row flexrow">
    <div class="col-sm-6 flexcol">
      <div class="card cardLeft flexcont">
        <div class="card-body groupContainer">
            <div class="flexcol">
                <img class="groupImg" src="{{this.listImageURL}}" />
            </div>
            <div class="flexcol">
                <p class="groupText"><a href="/charities/{{this.listID}}">{{this.listName}}</a></p>
            </div>            
        </div>
      </div>
    </div>
  <div class="col-sm-6 flexcol">
    <div class="card cardRight flexcont">
        <div class="card-header">
            Abstract
        </div>
      <div class="card-body ">
        <p class="">{{this.listAbstract}}</p>
      </div>
    </div>
  </div>
</div>
{{/if}}
{{/if}}
{{/each}}