{{#if session.userId}}
<div class="jumbotron">
  <p class="lead" style="text-align:center;">Hello, {{user.firstName}} {{user.lastName}}! 😃</p>
</div>
{{else}}
<div class="jumbotron">
  <h1 class="display-4">Get Started Today!</h1>
  <p class="lead">A simple tool to track the charities you donate to.</p>
  <hr class="my-4">
  <p>Create an Account Now</p>
  <a class="btn btn-primary btn-lg" href="/users/register" role="button">Register</a>
</div>
{{/if}}