.apiImg {
    width: 10em;
    height: 2em;

}

.jumbotron {
    margin-bottom: 0!important;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.registration-panel {
    margin: 2em auto 2em auto!important;
    width: 60%!important;
    vertical-align: center!important;
}

.card-header {
    text-align: center!important;
    font-size: 1.3em!important;
}

#register-form {
    margin: 0 2em 0 2em!important;
}

.create-button {
    padding-left: 2em!important;
    padding-right: 2em!important;
}

.charitiesContainer {
    margin: 2em;
    margin-top: 0;
}

.cardLeft {
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.cardRight {
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.flexrow { 
  display: flex; 
  flex-flow: row wrap;
}

.flexcol {
  flex: 0 0 50%;
  display: flex;
}

.flexcont {
  flex: 0 0 100%;
  flex-shrink: 1;
}

.flexText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}

.apiImg {
    width: 10em;
    height: 2em;

}
.navbar-text {
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.groupImg {
    width: 15em;
    height: 15em;   
    border-radius: 100%;
    justify-content: flex-start!important;
}
.groupText {
    display: flex;
    align-items:center;
    justify-content: flex-end; 
    vertical-align: center;
    font-weight: 500;
    font-size: 1.2em;
}
.groupText a {
    color: black;
}
.groupText a:hover {
    color: blue;
    text-decoration: none;
}
.groupContainer {
    display: flex;
}

.ratingText {
    font-size: 0.8em;
}
.ratingHeaderText {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}
.boxShadow {
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
}
.table-wrapper {
    display: block;
    max-height: 24em;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}